@import url("https://fonts.googleapis.com/css2?family=Glory&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&display=swap");

.App {
  max-width: 500px;
  background-color: #e2d5e6;
  background-image: linear-gradient(315deg, #e2d5e6 0%, #e1d4e6 74%);
  padding-bottom: 0 0.5rem 0.5rem 0.5rem;
  width: 90%;
  margin: auto;
  text-align: center;
  position: relative;
  top: 8vh;
  border: 2px solid rgba(53, 52, 52, 0.308);
  border: 2px solid;
}

* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Libre Baskerville", serif;
}
h1 {
  padding: 1rem 0;
  font-size: 1.8rem;
}
p {
  text-align: center;
  margin: 1rem;
  font-size: 0.8rem;
}

input {
  padding: 0.5rem;
  display: block;
  margin: auto;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  width: 80%;
  font-family: "Libre Baskerville", serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
::-webkit-validation-bubble-message {
  width: 80%;
}
button {
  padding: 0.4rem 1rem;
  border-radius: 10px;
  border: 2px solid black;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Jost", sans-serif;
  font-weight: 900;
  background-size: 200% auto;
  box-shadow: 0 0 20px #eee;
  transition: all 0.5s;
  background-image: linear-gradient(
    to right,
    #c9ffbf 0%,
    #ffafbd 51%,
    #c9ffbf 100%
  );
}
button:hover {
  background-position: right center;
  text-decoration: none;
}
#privacy-note {
  border: 2px solid #000;
  padding: 0.5rem 0;
  width: 80%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-radius: 20px;
  border-style: dashed;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: inherit;
  color: rgba(117, 47, 247, 0.986);
  font-weight: bold;
}
#message {
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem;
  border-radius: 1rem;
  width: 80%;
  margin: auto;
}

footer {
  margin-top: 3rem;
}
footer i {
  margin: 0 0.6rem;
  color: rgba(117, 47, 247, 0.986);
}

footer p {
  font-size: 0.8rem;
  color: rgba(117, 47, 247, 0.986);
  font-weight: 600;
}
